<!DOCTYPE html>
<div class="about">
    <h3>About Gourmet Roulette</h3>
    <p>There are over ten thousands restaurants in Manhattan, New York. Which restaurants will you have dinner at? It's just one of those anxious daily questions that you have just hours before dinner. Should I choose a restaurant in downtown, midtown, or uptown? What type of cuisine should I pick, probably not Italian cuz I just had it last night? Sounds annoying enough...</p>
    <p>Gourmet Roulette chooses the restaurant for you using math (just fancy word for random). Different to Yelp which recommends a list of restaurant bases on search keyword. Using Gourmet Roulette, the user can edit the list of starred restaurants. Liked the restaurant? Add the restaurant to the list. Tried and disliked the restaurant? Get rid of it. The user can categorize the restaurant by district and the type of cuisine. Open Gourmet Roulette and roll the dice, the app randomly selects the restaurant for the user based on the user's filter setting.</p>

    <h3>The Developer</h3>
    <h4>Charlie Cai</h4>
    <h4><a href="https://github.com/charliecai00">Visit Me On Github</a></h4>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
