<h3 class="form-tag">NARROW The Search</h3>

<form action="/" method="GET" >
    District: <input type="text" id="district" name="district" placeholder="Blank to search all">
    Cuisine: <input type="text" id="cuisine" name="cuisine" placeholder="Blank to search all">
    <input type="submit" id="submit" name="submit" value="GO!">
</form>

<br>
<br>
<h1 class="result">GOTO<br><br>{{bingo}}</h1>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
